/*
#main {
	width: 600px;
	p {
		margin: 0 0 1em;
		em {
			color: #f00;
		}
	}
	small {
		font-size: small;
	}
}*/


#montage{
  $size : 500px;

  width:$size;
  height:$size;

  margin:auto;
  margin-top:100px;

  border:1px solid black;
  display:block;

  svg{
    width:$size;
    height:$size;
  }
}
